In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

In [17]:
df = pd.read_csv("case_cost_prediction_train.csv")

#melihat dataset
df.describe()

,row_id,kddati2,tkp,peserta,a,b,c,cb,d,ds,...,kp,kt,ku,s,sa,sb,sc,sd,case,unit_cost
count,57971.000000,57971.000000,57971.000000,5.797100e+04,57971.000000,57971.000000,57971.000000,57971.000000,57971.000000,57971.0,...,57971.000000,57971.000000,57971.000000,57971.000000,57971.000000,57971.000000,57971.000000,57971.000000,57971.000000,5.797100e+04
mean,28986.000000,246.423125,34.990081,3.562209e+05,0.041538,0.388574,0.788894,0.000380,0.281710,0.0,...,0.039899,0.004330,0.001829,0.004123,0.002018,0.228476,0.953028,0.644943,6539.418451,1.961092e+06
std,16734.930565,143.447935,5.000033,4.120323e+05,0.210390,0.660382,0.679786,0.019477,0.595284,0.0,...,0.210092,0.065659,0.042722,0.082443,0.044880,0.925357,2.225974,1.234201,17607.280021,1.889367e+06
min,1.000000,1.000000,30.000000,8.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000e+05
25%,14493.500000,125.000000,30.000000,1.127735e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,424.000000,2.336742e+05
50%,28986.000000,243.000000,30.000000,1.975800e+05,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1359.000000,6.547994e+05
75%,43478.500000,362.000000,40.000000,4.386935e+05,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,4583.000000,3.531702e+06
max,57971.000000,528.000000,40.000000,3.328509e+06,2.000000,8.000000,6.000000,1.000000,5.000000,0.0,...,2.000000,1.000000,1.000000,5.000000,1.000000,9.000000,25.000000,10.000000,333441.000000,2.690550e+07

In [13]:
df = pd.read_csv("case_cost_prediction_train.csv")

#melihat dataset
df['kddati2'].describe()

count    57971.000000
mean       246.423125
std        143.447935
min          1.000000
25%        125.000000
50%        243.000000
75%        362.000000
max        528.000000
Name: kddati2, dtype: float64

In [14]:
df = pd.read_csv("case_cost_prediction_train.csv")

#melihat dataset
df['peserta'].describe()

count    5.797100e+04
mean     3.562209e+05
std      4.120323e+05
min      8.000000e+00
25%      1.127735e+05
50%      1.975800e+05
75%      4.386935e+05
max      3.328509e+06
Name: peserta, dtype: float64

In [15]:
df = pd.read_csv("case_cost_prediction_train.csv")

#melihat dataset
df['case'].describe()

count     57971.000000
mean       6539.418451
std       17607.280021
min           1.000000
25%         424.000000
50%        1359.000000
75%        4583.000000
max      333441.000000
Name: case, dtype: float64

In [16]:
df = pd.read_csv("case_cost_prediction_train.csv")

#melihat dataset
df['unit_cost'].describe()

count    5.797100e+04
mean     1.961092e+06
std      1.889367e+06
min      1.000000e+05
25%      2.336742e+05
50%      6.547994e+05
75%      3.531702e+06
max      2.690550e+07
Name: unit_cost, dtype: float64